n8n-workflows/01-daily-brief.json
{
  "name": "PPS — 01 Daily Brief",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * 1-5" }]
        }
      },
      "id": "cron-trigger",
      "name": "Cron 8am L-V",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://qxnxtnhtbpsgzprqtrjl.supabase.co/rest/v1/solicitudes_pps?select=id,estudiante_id,nombre_alumno,nombre_institucion,estado_seguimiento,actualizacion,created_at&order=created_at.desc&limit=25",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "sb-solicitudes",
      "name": "Solicitudes recientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://qxnxtnhtbpsgzprqtrjl.supabase.co/rest/v1/lanzamientos_pps?select=id,nombre_pps,orientacion,fecha_inicio,fecha_finalizacion,estado_gestion,estado_convocatoria,cupos_disponibles,proximo_seguimiento&estado_gestion=neq.Archivado&order=fecha_finalizacion.asc&limit=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "sb-lanzamientos",
      "name": "Lanzamientos activos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 280]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://qxnxtnhtbpsgzprqtrjl.supabase.co/rest/v1/gmail_hilos?select=thread_id,asunto,ultimo_mensaje_de,ultimo_mensaje_at,estado,clasificacion,institucion_id&estado=eq.esperando_respuesta&order=ultimo_mensaje_at.asc&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "sb-gmail",
      "name": "Gmail esperando respuesta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 440]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://qxnxtnhtbpsgzprqtrjl.supabase.co/rest/v1/whatsapp_mensajes?select=id,chat_jid,institucion_id,autor,texto,timestamp&from_me=eq.false&order=timestamp.desc&limit=20",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "options": {}
      },
      "id": "sb-wa",
      "name": "WhatsApp entrantes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 600]
    },
    {
      "parameters": {
        "jsCode": "// Combina las 4 fuentes y filtra lo que importa por edad.\nconst now = new Date();\nconst hoursSince = (iso) => (now - new Date(iso)) / 36e5;\n\nconst solicitudes = ($input.first().json || []).filter ? $input.first().json : [];\nconst lanzamientos = ($input.last().json || []);\nconst all = $input.all();\n\n// $input.all() viene en orden de los nodos conectados. Tomar por índice.\nconst raw = all.map(i => Array.isArray(i.json) ? i.json : (i.json ? [i.json] : []));\nconst [solis, lanzs, gmails, whats] = raw;\n\nconst solis_pendientes = (solis||[]).filter(s => hoursSince(s.created_at) > 48).slice(0,15);\nconst lanzs_por_vencer = (lanzs||[]).filter(l => {\n  if (!l.fecha_finalizacion) return false;\n  const d = new Date(l.fecha_finalizacion);\n  const diffDays = (d - now) / (1000*60*60*24);\n  return diffDays >= -1 && diffDays <= 7;\n}).slice(0,15);\n\nreturn [{ json: {\n  solicitudes_pendientes: solis_pendientes,\n  lanzamientos_por_vencer: lanzs_por_vencer,\n  instituciones_sin_contacto: [],\n  gmail_sin_responder: gmails || [],\n  whatsapp_pendientes: whats || []\n} }];"
      },
      "id": "merge",
      "name": "Armar payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 360]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pps-hermes.n8n-blas.com.ar/tasks/daily_brief",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Hermes-Token", "value": "={{$env.HERMES_INTERNAL_TOKEN}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": { "timeout": 60000 }
      },
      "id": "call-hermes",
      "name": "Hermes — daily_brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 360]
    }
  ],
  "connections": {
    "Cron 8am L-V": {
      "main": [
        [
          { "node": "Solicitudes recientes", "type": "main", "index": 0 },
          { "node": "Lanzamientos activos", "type": "main", "index": 0 },
          { "node": "Gmail esperando respuesta", "type": "main", "index": 0 },
          { "node": "WhatsApp entrantes", "type": "main", "index": 0 }
        ]
      ]
    },
    "Solicitudes recientes": {
      "main": [[{ "node": "Armar payload", "type": "main", "index": 0 }]]
    },
    "Lanzamientos activos": { "main": [[{ "node": "Armar payload", "type": "main", "index": 0 }]] },
    "Gmail esperando respuesta": {
      "main": [[{ "node": "Armar payload", "type": "main", "index": 0 }]]
    },
    "WhatsApp entrantes": { "main": [[{ "node": "Armar payload", "type": "main", "index": 0 }]] },
    "Armar payload": { "main": [[{ "node": "Hermes — daily_brief", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "America/Argentina/Buenos_Aires" }
}
